body, html {
    background-image:  url('images/indoorSpa.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-shadow: 2px 2px goldenrod;
    font-family: poller;
}


 #paraquote {
    position: fixed;
    top: 55%;
    left: 40%;
    text-shadow: 0px 0px rgb(95, 72, 12);
    padding-left: 2%;
    color: teal;
    
}

#paraweather  {
    position: fixed;
    top: 30%;
    right: 0%;
    text-shadow: 7px 2px 5px rgb(77, 30, 151);; 
    margin-right: 30%;
}

#todaysdate {
    position: fixed;
    left: 10%;
    top: 20%;
    font-size: 205%;
    color:aquamarine;
}

